<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Cookie Auth</title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <h1>Session Cookie Auth</h1>

    <h2>Sign up</h2>

    <form>
      <label>Username</label>
      <br />
      <input id="signUpUsername" type="text" />
      <br />
      <label>Password</label>
      <br />
      <input id="signUpPassword" type="password" />
      <br />
      <button id="signUpButton">Submit</button>
    </form>

    <p id="signUpMessage" style="display: none">
      Successfully signed up! Sign in below.
    </p>

    <h2>Sign in</h2>

    <form>
      <label>Username</label>
      <input id="signInUsername" type="text" />
      <br />
      <label>Password</label>
      <input id="signInPassword" type="password" />
      <br />
      <button id="signInButton">Submit</button>
    </form>

    <p id="signInMessage" style="display: none">
      Successfully signed in! Click here to <a href="/profile">go to profile</a>
    </p>

    <p id="errorMessage" style="display: none">Wrong username or password</p>

    <script src="/public/index.js"></script>
  </body>
</html>
